html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
#wrapper{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
#chart {
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: auto;
    text-align: center;
}
path { 
  stroke: steelblue;
	stroke-width: 2;
	fill: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
#inputs {
    margin-left: auto;
    margin-right:auto;
    width: 690px;
    border-bottom: 1px solid grey;
    background: lightsteelblue;
    padding: 5px;
}
.title {
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}
#slideMonth {
    border: 1px;
}
#dateLabel {
    float: right;
    font-size: 15px;
}
#sliderLabel {
    float:left;
    font-size: 15px;
    margin-right: 15px;
}
#map {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 500px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;

}
svg {
    position: relative;
}
.key {
    float: right;
    top: 0px;
    background-color: white;
    width: 120px;
    height: 50px;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
#play {
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    width: auto;
    background: lightsteelblue;
    font-weight: bold;
}
#attrib {
    width: 50%;
    margin-right: auto;
    text-align: center;
    margin-left: auto;
    font-size: 10px;
}
.axis-text {
    font-size: 15px;
}
#logo {
    height: 30%;
    width: 30%;
}
